.new-incident-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-incident-container .content {
  width: 100%;
  margin-left: 200px;
  padding: 56px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;

  display: flex;
  flex-direction: column;
}

.new-incident-container .content section {
  width: 100%;
  max-width: 380;
}

.new-incident-container .content section .img-um {
  width: 80%;
  height: 80%;
  float: left;
  margin-left: -40px;
  margin-top: -20px;
}

.new-incident-container .content section h1 {
  float: left;
  margin-left: 47px;
  font-size: 32px;
}

.new-incident-container .content section p {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
  width: 81%;
}

.new-incident-container .content section .imagem {
  width: 60%;
}

.new-incident-container .content form {
  width: 100%;
  max-width: 450px;
  float: left;
  margin-left: -20px;
}

.new-incident-container .content form input {
  margin-top: 8px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  width: 100%;
  height: 20px;
  padding: 10px;
}

.new-incident-container .content form textarea {
  margin-top: 8px;
}

.new-incident-container .content form .button {
  background: #0059b3;
  color: #e6f2ff;
  border: 1x solid blue;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
}

.menu {
  background: #006bb3;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #006bb3;
  border-radius: 7px;
}

.menu .linke {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
  float: left;
  margin-top: 12px;
  padding-left: 18px;
}

.menu .linke-home {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
  align-content: center;
  float: left;
  margin-top: 12px;
  margin-left: 12px;
}
